@use "../abstracts" as *;

.avatar {
	position: relative;
	&__icon::after {
		@include overlay(95px, 65px, null, null);
		@include min-media("md-width") {
			@include overlay(93px, 63px, null, null);
		}
		@include min-media("lg-width") {
			@include overlay(93px, 53px, null, null);
		}
		@include size(38px, 38px);
		padding: 8px;
		border-radius: $border-radius-cyrcle;
		border: $avatar-border-default;
	}
	&__icon-1::after {
		@include background-icon($svgdir-avatar-1, $color-accessory-1);
	}
	&__icon-2::after {
		@include background-icon($svgdir-avatar-2, $color-accessory-3);
		padding: 6px;
	}
	&__icon-3::after {
		@include background-icon($svgdir-avatar-3, $color-accessory-2);
	}
	&__icon-4::after {
		@include background-icon($svgdir-avatar-4, $color-accessory-4);
		transform: rotate(-45deg);
	}
}
