@use "../abstracts" as *;

.card {
	&__btn {
		font: {
			weight: $card-button-font-weight;
			size: $card-button-font-size;
		}
		letter-spacing: $card-button-letter-spacing;
		padding: $card-button-padding;
	}
	&__title {
		font-size: $card-heading-font-size;
		line-height: $card-description-line-height-tight;
		@include min-media("lg-width") {
			line-height: $card-heading-line-height;
		}
		color: $card-heading-text-color;
	}
	&__desc {
		font: {
			weight: $card-description-font-weight;
			size: $card-description-font-size;
		}
		line-height: $card-description-line-height;
		color: $card-description-text-color;
	}
}
