$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-serif: "Roboto", serif;

// when there are multiple variable fonts,
// it makes sense to define a base font
$font-family-accent: $font-family-sans-serif;
$font-family-base: $font-family-serif;

$font-sizes: (
	"sm-width": (
		"900": 30px,
		"800": 24px,
		"700": 22px,
		"600": 22px,
		"500": 20px,
		"400": 18px,
		"300": 18px,
		"200": 16px,
		"100": 14px,
		"000": 10px
	),
	"md-width": (
		"900": 52px,
		"800": 24px,
		"700": 22px,
		"600": 22px,
		"500": 20px,
		"400": 24px,
		"300": 18px,
		"200": 16px,
		"100": 14px,
		"000": 10px
	),
	"lg-width": (
		"900": 52px,
		"800": 24px,
		"700": 26px,
		"600": 22px,
		"500": 20px,
		"400": 24px,
		"300": 18px,
		"200": 16px,
		"100": 14px,
		"000": 10px
	)
);

// contextual fonts varialables
$font-size-000: var(--fs-000);
$font-size-100: var(--fs-100);
$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;

$font-weight-thin: $font-weight-300;
$font-weight-default: $font-weight-400;
$font-weight-bold: $font-weight-700;
