@use "../abstracts" as *;
@use "sass:math";
/*
 * Footer
 */
.footer {
	height: 225px;
	@include min-media("md-width") {
		height: 260px;
	}
	@include min-media("lg-width") {
		height: 260px;
	}
	.container {
		@include grid-unit(4);
		height: 205px;
		@include min-media("md-width") {
			@include grid-unit(8.9);
			height: 178px;
		}
		@include min-media("lg-width") {
			@include grid-unit(12);
		}
	}
	&-line {
		border: none;
		border: 1px solid $footer-line-text-color;
		margin-bottom: $padding-base * 4;
		@include min-media("md-width") {
			margin-bottom: $padding-base * 9;
		}
	}
	&-name {
		padding-bottom: $padding-base * 4;
		font: {
			weight: $footer-logo-link-font-weight;
			size: $footer-logo-link-font-size;
		}
		color: $footer-logo-link-text-color;
		&:is(:hover, :focus, :visited) {
			color: $footer-logo-link-text-color-hover;
		}
	}
	&__title {
		padding-bottom: $padding-base;
		@include min-media("md-width") {
			padding-bottom: $padding-base * 4;
		}
		font-size: $footer-heading-font-size;
	}
	&-company {
		height: 76px;
		&__item {
			padding: 0 $padding-base * 2 $padding-base * 2 $padding-base * 2;
			@include min-media("md-width") {
				padding: 0;
				padding-bottom: $padding-base * 2.5;
			}
			font: {
				weight: $footer-nav-link-font-weight;
				size: $footer-nav-link-font-size;
			}
			text-decoration: $footer-nav-link-text-decoration;
			color: $footer-nav-link-color;
			transition: 0.3s ease;
			&:is(:hover, :focus) {
				font-weight: $body-font-weight-base;
				color: $footer-nav-link-color-hover;
				transform: scale(1.03);
			}
			&:is(:visited) {
				color: $footer-nav-link-color-visited;
			}
		}
	}
	&-partners {
		height: 30px;
	}
	&-logo {
		&__title {
			padding-bottom: $padding-base * 2;
			@include min-media("md-width") {
				padding-bottom: $padding-base;
			}
			font-size: $footer-logo-img-font-size;
			text-transform: $footer-logo-img-text-transform;
			letter-spacing: $footer-logo-img-letter-spacing;
			color: $footer-logo-img-text-color;
		}
		&__img {
			@include size(110px, 24px);
		}
	}
}
