@use "../abstracts" as *;
@use "sass:math";
/*
 * Form section 
 */
.form {
	height: 225px;
	@include min-media("md-width") {
		height: 251px;
	}
	@include min-media("lg-width") {
		height: 256px;
	}
	.container {
		@include grid-unit(3.8);
		@include min-media("md-width") {
			@include grid-unit(6.5);
		}
	}
	&__title {
		padding-bottom: $padding-base * 4;
		@include min-media("md-width") {
			padding-bottom: $padding-base * 12.2;
		}
	}
	&__desc {
		padding-bottom: $padding-base * 2;
		@include min-media("md-width") {
			padding-bottom: $padding-base * 5;
		}
		@include min-media("lg-width") {
			padding-bottom: $padding-base * 5;
		}
		font-size: $font-size-300;
	}
}
