@use "../abstracts" as *;
@use "sass:math";
/*
 * Gallery section 
 */
.section-gallery {
	height: 1022px;
	@include min-media("md-width") {
		height: 1126px;
	}
	@include min-media("lg-width") {
		height: 1127px;
	}
	.container {
		height: auto;
		@include grid-unit(4);
		@include min-media("md-width") {
			@include grid-unit(9.6);
		}
		@include min-media("lg-width") {
			@include grid-unit(12);
		}
	}
	&__title {
		padding-bottom: $padding-base * 8;
		@include min-media("md-width") {
			padding-bottom: $padding-base * 9;
		}
	}
}
